.products-title {
  font-size: 2rem;
  width: fit-content;
  margin: 32px auto;
}
.product-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  justify-content: center;
  justify-items: center;
  gap: 16px;
}
.spinner {
  margin: 0 auto;
  max-width: fit-content;
}
.chips-list {
  margin: 16px;
}
