.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
  min-height: 800px;
  background-color: lightgrey;
}
.product-title {
  font-size: 1.75rem;
}
.product-buttons {
  justify-self: flex-end;
  justify-content: space-around;
}
.product-button {
  color: black;
}
.card-image {
  max-width: 100%;
  aspect-ratio: 2/3;
  object-fit: cover;
  object-position: 50% 100%;
}
